.loading--container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.currentWeather {
    padding: 10px;
    border: 0;
    border-radius: 30px;
    width: 600px;
    height: auto;
    min-width: 400px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 600px 780px;
    box-shadow: 0 7px 33px -1px rgba(0, 0, 0, 0.9);
    resize: both;
}

.currentWeather h1 {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    width: 80%;
    max-width: 420px;
    word-wrap: break-word;
}

.currentWeather--nav {
    display: grid;
    grid-template-columns: 170px 220px 170px;
    grid-template-rows: 1fr;
    width: 95%;
    height: 48px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}
