.daily {
    min-width: 500px;
    margin: 0 auto 30px;
}

.daily--next-days {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2rem;
    margin: 15px auto;
    min-width: 500px;
}

.daily--list__container {
    width: 95%;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: 0 7px 33px -1px rgba(0, 0, 0, 0.5);
    min-width: 500px;
    margin: 0 auto;
}

.daily--list {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    min-width: 500px;
}

.daily--day {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    list-style: none;
    justify-content: space-around;
    margin: 0 auto;
}
